server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:ccops}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${MYSQL_USER:ccops}
    password: ${MYSQL_PASSWORD:ccops123}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

logging:
  level:
    org.hibernate.SQL: INFO
    org.springframework.security: INFO

ccops:
  security:
    approvalRequiredActions:
      - CARD_BLOCK
      - CARD_UNBLOCK
